:root {
	--header-height: 48px;
	--footer-height: 48px;
	--color-primary: indigo;
}
body {
	background: #f8f8f8;
	font-family: monospace;
	margin: 0;
	padding: 0;
	display: flex;
	flex-direction: column;
	align-items: stretch;
	justify-content: center;
	width: 100vw;
	height: 100vh;
}


main {
	flex-grow: 1;
}

#map {
	height: 100%;
}

footer {
	position: absolute;
	bottom: 0;
	left: 0;
	z-index: 100400;
	padding: 8px 16px;
	background: rgba(255, 255, 255, 0.5);
}

footer label {

}

.routepoint-div-icon, .routelog-div-icon, .iamhere-div-icon {
	display: block;
	width: 24px;
	height: 24px;
	border-radius: 50%;
	position: absolute;
}

.routepoint-div-icon:after {
	content: '';
	display: block;
	width: 6px;
	height: 6px;
	border-radius: 50%;
	position: absolute;
	transform: translate(-50%, -50%);
	background: red;
}

.routepoint-div-icon div:before {
	content: attr(data-name);
	text-shadow: 1px 1px 1px #fff;
	position: absolute;
	transform: translateY(-50%);
	left: 100%;
	white-space: nowrap;
	background: rgba(255,255,255,0.3);
	border-radius: 2px;
	padding: 0 2px;
	font-size: 0.7rem;
}

.routelog-div-icon-pause {
  background: orange;
  display: block;
	width: 4px;
	height: 4px;
}

.routelog-div-icon:after {
	content: '';
	display: block;
	width: 4px;
	height: 4px;
	border-radius: 50%;
	position: absolute;
	transform: translate(-50%, -50%);
	background: rgba(0,0,0,0.5);
}

.routelog-div-icon div:before {
	content: attr(data-name);
	color: grey;
	text-shadow: 1px 1px 1px #fff;
	position: absolute;
	transform: translateY(-50%);
	left: 100%;
	white-space: nowrap;
	padding: 0 2px;
	font-size: 0.7rem;
	background: rgba(243, 203, 0, 0.58);
}

#fab {
	width: 56px;
	height: 56px;
	border-radius: 48px;
	display: flex;
  align-items: center;
  justify-content: center;
	margin: 8px;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 3px 5px -1px, rgba(0, 0, 0, 0.14) 0px 6px 10px 0px, rgba(0, 0, 0, 0.12) 0px 1px 18px 0px;
	border: none;
	background: var(--color-primary);
	color: #fff;
	z-index: 100500;
	position: absolute;
	right: 16px;
	bottom: 16px;
}

#fab.loading:before {
  box-sizing: border-box;
  content: ''; 
  border-radius: 50%;
  width: 100%;
  height: 100%;
  position: absolute;
  border: 24px solid transparent;
  border-bottom-color: rgba(255,255,255,0.2);
  animation: spin 1s infinite linear;
}

@keyframes spin {
  from {transform:rotate(0deg);}
  to {transform:rotate(360deg);}
}

.iamhere-div-icon {
  width: 24px;
  height: 24px;
  background: rgba(255, 0, 0, 0.459);
  position: relative;
  box-shadow: 0 0 16px rgba(255,0,0,00.9);
}

.iamhere-div-icon:before {
  content: 'Ñ';
  position: absolute;
  background: red;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  width: 10px;
  height: 10px;
  line-height: 10px;
  font-size: 8px;
  text-align: center;
  color: #fff;
  border-radius: 50%;
  border: 1px solid #fff
}

.needFile {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 14px;
  padding: 20px;
  background-color: bisque;
}

.statContainer {
  display: flex;
  padding: 8px;
}

fieldset {
  border-width: 1px;
  border-style: solid;
  border-radius: 6px;
  padding: 3px
}

fieldset legend {
  font-size: 0.8em;;
}

fieldset > div {
  display: flex;

}

fieldset div[data-label] {
  position: relative;
  padding: 0;
  margin: 0 3px;
  margin-bottom: 8px;
}

fieldset div[data-label]::after {
  content: attr(data-label);
  font-size: 8px;
  left: 0;
}

fieldset div[data-title]::before {
  content: attr(data-title);
  font-size: 8px;
  left: 0;
  top: 99%;
  position: absolute;
}

